In [3]:
from codes.opendata import *
import pandasql as ps

def xml_to_csv(filename):
    import pandas as pd 
    import xml.etree.ElementTree as etree
    
    tree = etree.parse(filename)
    root = tree.getroot()
    
    dataname = root[0].tag #FIME: need more check no data
    colnames = []
    for name in root[0]:
        colnames.append(name.tag)
    df = pd.DataFrame(columns = colnames)
    for member in root.findall(dataname):
        cols = []
        for i in range(len(colnames)):
            result = member.find(colnames[i])
            cols.append(result.text if result is not None else None)
        df = df.append(pd.Series(cols, index = colnames), ignore_index = True)
    return df

dMgr = DataMgr()
d_df= dMgr.d_df
odMgr = dMgr.odMgr
ldMgr = dMgr.ldMgr
od_df = dMgr.odMgr.od_df
ld_df = dMgr.ldMgr.ld_df

river_df = odMgr.get_riverlist()
rivercode_df = odMgr.rivercode_df
colname_df = odMgr.get_colmap()
term_df = ld_df['wkg_df']['term']

['"https://data.gov.tw/datasets/export/csv?type=dataset&order=pubdate&qs=&uid=', 'opendata_list.csv']
url_to_file: url="https://data.gov.tw/datasets/export/csv?type=dataset&order=pubdate&qs=&uid=, pathname=output/opendata_list.csv
[nan, 'db.csv']
url_to_file: url=https://data.wra.gov.tw/Service/OpenData.aspx?format=csv&id=336F84F7-7CFF-4084-9698-813DD1A916FE, pathname=output/22228.csv

In [2]:
import pandasql as ps
df1 = od_df.iloc[0:9200]
df2 = od_df.iloc[9300:44360]
odsql_df = pd.concat([df1,df2])

"""
'資料集名稱', '服務分類', '檔案格式', '資料下載網址', '編碼格式', '資料集類型', '資料集描述', '主要欄位說明',
       '提供機關', '更新頻率', '授權方式', '相關網址', '計費方式', '提供機關聯絡人姓名', '提供機關聯絡人電話',
       '上架日期', '詮釋資料更新時間', '備註'
"""
#q1 = """SELECT 資料集名稱,提供機關 FROM odsql_df order by 提供機關"""
#q1 = """SELECT 資料集名稱,提供機關 FROM odsql_df where upper(主要欄位說明) like '%TOWN%' order by 提供機關"""
#q1 = """SELECT 資料集名稱,提供機關,資料集識別碼 FROM odsql_df where 資料集名稱 like '%所得%' and 資料集名稱 like '%鄉鎮%' order by 提供機關"""
q1 = """SELECT 資料集名稱,提供機關,資料集識別碼 FROM odsql_df where 資料集名稱 like '%寺廟%' order by 提供機關"""
#q1 = """SELECT * FROM odsql_df"""

mon_df= ps.sqldf(q1, locals())
mon_df

                                       資料集名稱      提供機關  資料集識別碼
0                         全國宗教資訊系統資料-寺廟(RDF)   內政部資訊中心    8672
1                                    嘉義市寺廟名冊     嘉義市政府   52376
2                                嘉義縣已登記寺廟一覽表     嘉義縣政府   21825
3                                    宜蘭縣寺廟慶典     宜蘭縣政府   42161
4                                  彰化縣寺廟登記概況  彰化縣政府民政處   31057
5                                    新北市寺廟資料  新北市政府民政局   26712
6                                    新竹市寺廟名冊     新竹市政府   67532
7                                         寺廟     新竹縣政府   42394
8                                    桃園市寺廟名冊  桃園市政府民政局   26493
9                              全國宗教資訊系統資料-寺廟       民政司    8203
10  臺灣北區主祀土地公寺廟點位資訊(臺北市、新北市、基隆市、桃園市、新竹市、新竹縣)       民政司  113346
11                              屏東縣轄內寺廟場所一覽表       民政處   90576
12                               新竹縣已登記寺廟一覽表       民政處  109237
13                      寺廟登記概況─按區域別、宗教別分           統計處   13953
14                       寺廟組織型態─按區域別、宗教別分          統計處   13954
15                                 高雄市寺廟基本資料  高雄市政府民政局   98087
16                                   旗山區寺廟資料  高雄市旗山區公所   47091

In [ ]:
df=odMgr.get_dataset(8410)
q1 = """SELECT * FROM df"""
mon_df= ps.sqldf(q1, locals())
mon_df.to_csv('output/8410_各鄉鎮市區人口密度.csv')
mon_df

In [ ]:
#TOWN, site_id
#q1 = """SELECT * FROM colname_df where upper(Colname) like '%SITE_ID%'"""
#q2 = """SELECT * FROM colname_df where 資料集名稱 like '%自來水用水量%'"""
q3 = """SELECT o.提供機關, c.*,o.資料集識別碼 FROM colname_df c inner join odsql_df o on c.資料集名稱 = o.資料集名稱  
        where upper(c.Colname) like '%SITE_ID%' order by o.提供機關"""

mon_df= ps.sqldf(q3, locals())
mon_df

In [ ]:
# 處理與準備資料

In [ ]:
"""
| 14302-現住人口性別、年齡、婚姻狀況           |
| ------------------------------ |
| 103066-綜合所得稅所得總額全國各縣市鄉鎮村里統計分析表 |
| 8203-全國宗教資訊系統資料-寺廟             |
| 鄉鎮寺廟數                          |
| 8410-各鄉鎮市區人口密度                 |
"""


df_14302 = odMgr.get_dataset(14302)
df_14302.to_csv('output/14302_現住人口性別、年齡、婚姻狀況.csv')
df_14302x = df_14302.drop(0)
df_103066 = odMgr.get_dataset(103066)
df_103066.to_csv('output/103066_綜合所得稅所得總額全國各縣市鄉鎮村里統計分析表.csv')
df_8410 = odMgr.get_dataset(8410)
df_8410.to_csv('output/8410_各鄉鎮市區人口密度.csv')

#先手動下載 8203-全國宗教資訊系統資料-寺廟 到 output/8203_temple.xml
#temple_df = xml_to_csv("output/8203_temple.xml")
#temple_df.to_csv('output/8203_temple.csv')
#寺廟數量手動處理，複製到 output/鄉鎮寺廟數量.csv

In [69]:
df_14302x =pd.read_csv('output/14302_現住人口性別、年齡、婚姻狀況.csv')
df_103066 = pd.read_csv('output/103066_綜合所得稅所得總額全國各縣市鄉鎮村里統計分析表.csv')
df_8410 = pd.read_csv('output/8410_各鄉鎮市區人口密度.csv')
df_8203 = pd.read_csv('output/鄉鎮寺廟數.csv')

# 準備 key
df_8203x = df_8203
df_8203x['site_id']=df_8203x['COUNTYNAME'].str.cat(df_8203x['TOWNNAME'], sep ="") 
df_103066x = df_103066
df_103066x['site_id']=df_103066x['縣市'].str.cat(df_103066x['鄉鎮市區'], sep ="")
q1 = """SELECT site_id,綜合所得總額 FROM df_103066x group by site_id"""
df_103066xx = ps.sqldf(q1, locals())

q1 = """SELECT site_id,sum(single_age_15down_m) single_age_15down_m,sum(single_age_15_19_m) single_age_15_19_m FROM df_14302x group by site_id"""
df_14302xx = ps.sqldf(q1, locals())

/Users/wuulong/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (1,2,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [67]:
#檢查資料狀態
#df_8203x
#df_8410
#df_103066xx
#df_14302xx



print("14302xx shape: %s" %(str(df_14302xx.shape)))
print("8203x shape: %s" %(str(df_8203x.shape)))
print("8410 shape: %s" %(str(df_8410.shape)))
print("103066xx shape: %s" %(str(df_103066xx.shape)))
# min(8203)
#df_14302
#pd.set_option('display.max_columns', None)
#df_14302x

14302xx shape: (371, 3)
8203x shape: (368, 10)
8410 shape: (376, 6)
103066xx shape: (389, 2)

In [73]:
#資料合併
#以 8203 加 8410 加 103066 加 14302
#df_8203x['site_id']
#df_8410['site_id']
#df_103066xx['site_id']
#df_14302xx['site_id']
merge_df1 = pd.merge(df_8203x, df_8410, left_on='site_id',right_on='site_id', how='left',left_index=True)
merge_df2 = pd.merge(merge_df1, df_103066xx, left_on='site_id',right_on='site_id', how='left',left_index=True)
qgis0310_df = pd.merge(merge_df2, df_14302xx, left_on='site_id',right_on='site_id', how='left',left_index=True)
qgis0310_df.to_csv('output/qgis_0310.csv')
#merge_df3.shape

In [74]:
# 分析
qgis0310_df.corr()

,fid,TOWNCODE,COUNTYCODE,NUMPOINTS,Unnamed: 0,綜合所得總額,single_age_15down_m,single_age_15_19_m
fid,1.000000,0.640873,0.640873,0.118979,-0.428677,0.192820,0.320274,0.301989
TOWNCODE,0.640873,1.000000,1.000000,0.212615,-0.858696,0.316023,0.403825,0.396469
COUNTYCODE,0.640873,1.000000,1.000000,0.212615,-0.858696,0.316024,0.403827,0.396470
NUMPOINTS,0.118979,0.212615,0.212615,1.000000,-0.197056,0.098694,0.250308,0.296224
Unnamed: 0,-0.428677,-0.858696,-0.858696,-0.197056,1.000000,-0.344656,-0.497992,-0.491610
綜合所得總額,0.192820,0.316023,0.316024,0.098694,-0.344656,1.000000,0.525499,0.488425
single_age_15down_m,0.320274,0.403825,0.403827,0.250308,-0.497992,0.525499,1.000000,0.988462
single_age_15_19_m,0.301989,0.396469,0.396470,0.296224,-0.491610,0.488425,0.988462,1.000000